.subproject-card {
  flex: 1 0 300px;
  max-width: 400px;
  background-color: #2C3E50;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.subproject-card:hover {
  transform: translateY(-5px);
}

.subproject-header h3 {
  color: #F5F5F5;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.75rem;
}

.subproject-description {
  color: #E0E0E0;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  flex-grow: 1;
}

.subproject-footer {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.view-issues-btn, .edit-btn{
  background-color: #b2e2df;
  color: #233142;
  border: none;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.view-issues-btn:hover, .edit-btn:hover{
  background-color: #3dbdb5;
}